<html>
    <head>
      <meta charset='UTF-8' />
	  <style>
      @page {
        counter-reset: page 0;
      }
      body {
        background-color: white;
        color: black;
        font-size: 8px;
        font-family: arial;
        margin: 1px;
        padding: 1px;
      }
      main {
        padding-bottom: 30px;
      }
      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 20px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        background-color: white;
      }
      .page::after {
        content: counter(page);
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 1px;
        border: 2px solid black;
        table-layout: auto;
      }

      .table2 {
        table-layout: fixed;
  			border: none;
  			border-spacing: 0;
      }

      img {
        max-height: 100px;
        width: auto;
      }

      td {
        min-width: 8px;
        text-align: center;
        border: 1px solid black;
        height: 8px;
        }

      th {
        width: auto;
        text-align: center;
        border: 1px solid black;
        height: 10px;
        font-weight: bold;
        white-space: nowrap;
      }

      .th1 {
        text-align: left;
        font-size: 9px;
        background-color: #ccccff;
      }
      .th2 {
        background-color: #ccffcc;
      }

      .th3 {
        width: 5px;
        text-align: left;
      }

      .th4 {
				background-color: transparent;
  			font-size: 9px;
  			text-align: center;
  			border: none;
  			padding: 0;
      }

      .th5 {
        background-color: #ccffcc;
        width: 5px;
        text-align: center;
      }

      .td1 {
        text-align: left;
        /*width: max-content;*/
        white-space: nowrap;
      }

	  .td2 {
        text-align: left;
        /*width: max-content;*/
        white-space: nowrap;
				background-color: #ccffcc;
    	}

			.td3 {
        text-align: center;
				width: 150px;
    	}

      .td4j {
        height: 90px;
        text-align: justify;
        vertical-align: top;
      }

    .document__postA,
    .document__postA__a,
    .document__postA__b,
		.document__postA__c,
		.document__postA__d,
		.document__postA__e,
		.document__postA__f,
		.document__postA__g,
		.document__postA__h,
		.document__postA__i {
        width: 100%;
        margin-top: 5px;
        padding: 0;
    }

    </style>
    </head>
    <body>
    <header></header>
    <main>

<div class='document__postA'>
	<div class='document__postA__a'>
        {{#with A}}
	    <table>
	    	<tr>
	            <th class="th1" colspan="11">A. DATOS DEL ESTABLECIMIENTO Y USUARIO/ PACIENTE</th>
	        </tr>
	        <tr>
	            <th class="th2" colspan="2">INSTITUCION DEL SISTEMA</th>
	            <th class="th2">UNICÓDIGO</th>
	            <th class="th2" colspan="2">ESTABLECIMIENTO DE SALUD</th>
	            <th class="th2" colspan="2">NUMERO DE HISTORIA CLÍNICA</th>
	            <th class="th2" colspan="4">NUMERO DE ARCHIVO</th>
	        </tr>
	        <tr>
	            <td colspan="2">{{institucion_sistema}}</td>
	            <td>{{unicodigo}}</td>
	            <td colspan="2">{{establecimiento_salud}}</td>
	            <td colspan="2">{{numero_historia_clinica}}</td>
	            <td colspan="4">{{numero_archivo}}</td>
	        </tr>
	        <tr>
	            <th class="th2" class="th2" rowspan="2">PRIMER APELLIDO</th>
	            <th class="th2" class="th2" rowspan="2">SEGUNDO APELLIDO</th>
	            <th class="th2" class="th2" rowspan="2">PRIMER NOMBRE</th>
	            <th class="th2" class="th2" rowspan="2">SEGUNDO APELLIDO</th>
	            <th class="th2" rowspan="2">SEXO</th>
	            <th class="th2" rowspan="2">FECHA NACIMIENTO</th>
	            <th class="th2" rowspan="2">EDAD</th>
	            <th class="th2" colspan="4">CONDICION EDAD</th>
	        </tr>
	        <tr>
	            <th class="th2">M</th>
	            <th class="th2">D</th>
	            <th class="th2">M</th>
	            <th class="th2">A</th>
	        </tr>
	        <tr>
	            <td>{{primer_apellido}}</td>
	            <td>{{segundo_apellido}}</td>
	            <td>{{primer_nombre}}</td>
	            <td>{{segundo_nombre}}</td>
	            <td>{{sexo}}</td>
	            <td>{{fecha_nacimiento}}</td>
	            <td>{{edad}}</td>
	            <td>{{#if condicion_edad.m1}}X{{/if}}</td>
	            <td>{{#if condicion_edad.d}}X{{/if}}</td>
	            <td>{{#if condicion_edad.m2}}X{{/if}}</td>
	            <td>{{#if condicion_edad.a}}X{{/if}}</td>
	        </tr>
	    </table>
        {{/with}}
	</div>

	<div class='document__postA__b'>
		{{#with B}}
		<table>
	    	<tr>
	          <th class="th1" colspan="9">B. PROCEDIMIENTO QUIRÚRGICO ANESTÉSICO</th>
	      </tr>
	      <tr>
	        <th class="th2" rowspan="2">ESPECIALIDAD</th>
	        <td>{{especialidad}}</td>
	        <th class="th2" rowspan="2">DIAGNÓSTICO</th>
	        <td colspan="6">{{diagnostico}}</td>
	      </tr>
	      <tr>
	        <td></td>
	        <td colspan="6"></td>
	      </tr>
	      <tr>
	        <th class="th2" rowspan="2">CIRUGÍA REALIZADA</th>
	        <td>{{cx_realizada}}</td>
	        <th class="th2" rowspan="2">TÉCNICA ANESTESICA</th>
	        <th>General</th>
	        <td>{{#if tecnica_anestesica.general}}X{{/if}}</td>
	        <th>Local</th>
	        <td>{{#if tecnica_anestesica.local}}X{{/if}}</td>
	        <th>Troncular</th>
	        <td>{{#if tecnica_anestesica.troncular}}X{{/if}}</td>
	      </tr>
	      <tr>
	        <td></td>
	        <th>Neuroaxial</th>
	        <td>{{#if tecnica_anestesica.neuroaxial}}X{{/if}}</td>
	        <th>Intravenosa</th>
	        <td>{{#if tecnica_anestesica.intravenosa}}X{{/if}}</td>
	        <th>Sedación</t>
	        <td>{{#if tecnica_anestesica.sedacion}}X{{/if}}</td>
	      </tr>
	    </table>
		{{/with}}
	</div>

	<div class='document__postA__c'>
		{{#with C}}
		<table>
	    <tr>
	      <th class="th1" colspan="39">C. ENTREGA - RECEPCIÓN DEL PACIENTE</th>
	    </tr>
	    <tr>
	      <th class="th3" rowspan="2">INGRESO A UNIDAD DE CUIDADOS POSTANESTÉSICOS</th>
	      <th colspan="36">ESCALAS / ÍNDICES / PUNTAJES </th>
	      <th colspan="2">Responsable</th>
	    </tr>
	    <tr>
	      <th class="th2" colspan="8">ALDRETE MODIFICADO</th>
	      <th class="th2" colspan="8">BROMAGE</th>
	      <th class="th2" colspan="20">RAMSAY</th>
	      <th class="th3">Nombre:</th>
	      <td class="td1">{{entrega.nombre}}</td>
	    </tr>
	    <tr>
	      <th class="th3" rowspan="2">FECHA:</th>
	      <th>7</th>
	      <td>{{#if aldrede_modificado.a7}}X{{/if}}</td>
	      <th>8</th>
	      <td>{{#if aldrede_modificado.a8}}X{{/if}}</td>
	      <th>9</th>
	      <td>{{#if aldrede_modificado.a9}}X{{/if}}</td>
	      <th>10</th>
	      <td>{{#if aldrede_modificado.a10}}X{{/if}}</td>
	      <!-- 2  -->
	      <th>100%</th>
	      <td>{{#if bromage.b100}}X{{/if}}</td>
	      <th>66%</th>
	      <td>{{#if bromage.b66}}X{{/if}}</td>
	      <th>33%</th>
	      <td>{{#if bromage.b33}}X{{/if}}</td>
	      <th>0%</th>
	      <td>{{#if bromage.b0}}X{{/if}}</td>
	      <!-- 3  -->
	      <th>0</th>
	      <td>{{#if ramsay.r0}}X{{/if}}</td>
	      <th>1</th>
	      <td>{{#if ramsay.r1}}X{{/if}}</td>
	      <th>2</th>
	      <td>{{#if ramsay.r2}}X{{/if}}</td>
	      <th>3</t>
	      <td>{{#if ramsay.r3}}X{{/if}}</td>
	      <th>4</th>
	      <td>{{#if ramsay.r4}}X{{/if}}</td>
	      <th>5</th>
	      <td>{{#if ramsay.r5}}X{{/if}}</td>
	      <th>6</th>
	      <td>{{#if ramsay.r6}}X{{/if}}</td>
	      <th class="th2" colspan="6"></th>
	      <th>Firma:</th>
	      <td class="td1">{{entrega.firma}}</td>
	    </tr>
	   	<tr>
	   		<th class="th2" colspan="22">EVA</th>
	   		<th class="th2" colspan="14">STEWARD</th>
	   		<th colspan="2">Recibe</th>
	   	</tr>
	   	<tr>
	   		<th rowspan="2">HORA</th>
	   		<th>0</th>
	      <td>{{#if eva.e0}}X{{/if}}</td>
	      <th>1</th>
	      <td>{{#if eva.e1}}X{{/if}}</td>
	      <th>2</th>
	      <td>{{#if eva.e2}}X{{/if}}</td>
	      <th>3</th>
	      <td>{{#if eva.e3}}X{{/if}}</td>
	      <th>4</th>
	      <td>{{#if eva.e4}}X{{/if}}</td>
	      <th>5</th>
	      <td>{{#if eva.e5}}X{{/if}}</td>
	      <th>6</th>
	      <td>{{#if eva.e6}}X{{/if}}</td>
	      <th>7</th>
	      <td>{{#if eva.e7}}X{{/if}}</td>
	      <th>8</th>
	      <td>{{#if eva.e8}}X{{/if}}</td>
	      <th>9</th>
	      <td>{{#if eva.e9}}X{{/if}}</td>
	      <th>10</th>
	      <td>{{#if eva.e10}}X{{/if}}</td>
	      <!-- 2  -->
	   		<th>0</th>
	      <td>{{#if steward.s0}}X{{/if}}</td>
	      <th>1</th>
	      <td>{{#if steward.s1}}X{{/if}}</td>
	      <th>2</th>
	      <td>{{#if steward.s2}}X{{/if}}</td>
	      <th>3</th>
	      <td>{{#if steward.s3}}X{{/if}}</td>
	      <th>4</th>
	      <td>{{#if steward.s4}}X{{/if}}</td>
	      <th>5</th>
	      <td>{{#if steward.s5}}X{{/if}}</td>
	      <th>6</th>
	      <td>{{#if steward.s6}}X{{/if}}</td>
	      <th>Nombre:</th>
	      <td class="td1">{{recibe.nombre}}</td>
	   	</tr>
	    <tr>
	      <th class="th2" colspan="2">Otros:</th>
	      <td class="td1" colspan="34">{{otros}}</td>
	      <th>Firma:</th>
	      <td class="td1">{{recibe.firma}}</td>
	    </tr>
	    </table>
			{{/with}}
	</div>

	<div class='document__postA__d'>
		{{#with D}}
		<table>
			<tr>
				<th class="th1" colspan="5">D. MONITORIZACIÓN</th>
  		</tr>
  		<tr>
				<td>
					<table>
						<tr>
							<th class="th5"></th>
							<td></td>
						</tr>
        		<tr>
							<th class="th5">TAS</th>
							<th>∨</th>
						</tr>
        		<tr>
							<th class="th5">TAD</th>
							<th>∧</th>
						</tr>
        		<tr>
							<th class="th5">TAM</th>
							<th>×</th>
						</tr>
        		<tr>
							<th class="th5">FREC.CARDIACA</th>
							<th>●</th>
						</tr>
        		<tr>
							<th class="th5">TEMPERATURA</th>
							<th>△</th>
						</tr>
        		<tr>
							<th class="th5">PVC</th>
							<th>+</th>
						</tr>
        		<tr>
							<th class="th5">SATURACION O2</th>
							<td></td>
						</tr>
						{{#each leyendaRelleno}}
						<tr>
							<th class="th5">
							</th><td>
							</td>
						</tr>
						{{/each}}
      </table>
    </td>

		<!-- T° -->
		<td>
  		<table>
				<tr>
					<th class="th5">T°</th>
				</tr>
    		{{#each tRows}}
      	<tr>
					<td>{{this}}</td>
				</tr>
    		{{/each}}
  		</table>
		</td>

		<!-- PV -->
		<td>
  		<table>
    		<tr>
					<th class="th5">PV</th>
				</tr>
    		{{#each pvRows}}
      	<tr>
					<td>{{this}}</td>
				</tr>
    		{{/each}}
  		</table>
		</td>

		<!-- TA -->
		<td>
  		<table>
    		<tr>
					<th class="th5">TA</th>
				</tr>
    		{{#each taRows}}
				<tr>
					<td>{{this}}</td>
				</tr>
  			{{/each}}
  		</table>
		</td>

		<td>
			<table class="table2">
				<tr>
					{{#each bloques}}
					<th class="th4">
						<table class="table2">
							<tr>
								<th class="th4"></th>
								<th class="th4"></th>
								<th class="th4" colspan="2">15</th>
								<th class="th4"></th>
    						<th class="th4" colspan="2">30</th>
    						<th class="th4"></th>
								<th class="th4" colspan="2">45</th>
    						<th class="th4"></th>
								<th class="th4">↑</th>
  						</tr>
        		</table>
      		</th>
    			{{/each}}
  			</tr>
			</table>

			<table class="table2">
  			<tr>
    			{{#each bloques}}
      	<th class="th4">
        	<table class="table2">
          {{#each filas}}
        <tr>
          {{#each celdas}}
          <td>
            {{#if valor}}
            {{#if simbolo}}{{simbolo}}{{/if}}
          {{/if}}
          </td>
          {{/each}}
        </tr>
          {{/each}}
      	</table>
      	</th>
    		{{/each}}
  			</tr>
			</table>
		</td>

  	<tr>
			<th class="th5" colspan="4">ALDRETE MODIFICADO</th>
			<td class="td1">{{aldrete}}</td>
		</tr>
  	<tr>
			<th class="th5" colspan="4">BROMAGE</th>
			<td class="td1">{{bromage}}</td>
		</tr>
  	<tr>
			<th class="th5" colspan="4">RAMSAY</th>
			<td class="td1">{{ramsay}}</td>
		</tr>
  	<tr>
			<th class="th5" colspan="4">EVA</th>
			<td class="td1">{{eva}}</td>
		</tr>
  	<tr>
			<th class="th5" colspan="4">STEWARD</th>
			<td class="td1">{{steward}}</td>
		</tr>
  	<tr>
			<th class="th5" colspan="4">OTRO</th>
			<td class="td1">{{otro}}</td>
		</tr>
		</table>
	{{/with}}
</div>


	<div class='document__postA__e'>
		<table>
	    <tr>
	      <td>
					{{#with E}}
	        <table>
					  <tr>
					    <th class="th1" colspan="2">E. INGRESOS</th>
					  </tr>
					  <tr>
					    <td class="td3">ORAL</td>
					    <td class="td1">{{oral}}</td>
					  </tr>
					  <tr>
					    <td class="td3">INFUSIONES</td>
					    <td class="td1">{{infusiones}}</td>
					  </tr>
					  <tr>
					    <td class="td3">SANGRE Y DERIVADOS</td>
					    <td class="td1">{{sangre_derivados}}</td>
					  </tr>
					  <tr>
					    <td class="td3">OTROS</td>
					    <td class="td1">{{otros}}</td>
					  </tr>
					  <tr>
					    <th>TOTAL</th>
					    <td class="td1">{{total}}</td>
					  </tr>
				</table>
				{{/with}}
	      </td>
	        <td>
						{{#with F}}
	        	<table>
					    <tr>
					      <th class="th1" colspan="2">F. ELIMINACION</th>
					    </tr>
					    <tr>
					    	<td class="td3">DIURESIS O SONDA VESICAL</td>
					    	<td class="td1">{{diuresis}}</td>
					    </tr>
					    <tr>
					    	<td class="td3">VÓMITO O SONDA NASOGASTRICO</td>
					    	<td class="td1">{{vomito}}</td>
					    </tr>
					    <tr>
					    	<td class="td3">TORÁCICO</td>
					    	<td class="td1">{{toracico}}</td>
					    </tr>
					    <tr>
					    	<td class="td3">DRENAJES</td>
					    	<td class="td1">{{drenajes}}</td>
					    </tr>
					    <tr>
					    	<td class="td3">OTRAS</td>
					    	<td class="td1">{{otras}}</td>
					    </tr>
					    <tr>
					    	<th>TOTAL</th>
					    	<td class="td1">{{total}}</td>
					    </tr>
					  </table>
						{{/with}}
	        		</td>
	        	</tr>
	    </table>
	</div>

	<footer>
		<div style="width:100%;">
			<table class="table table-bordered" style="font-size: 7px;width:100%;margin-bottom: 0px;padding: 0px;margin: 0px">
		        <tbody>
		            <th style="text-align: left;" >SNS-MSP / HCU-form.019 / 2021</th>
		            <th style="text-align: right;font-size: 8px">CUIDADOS POSTANESTÉSICO(<span class="page"></span>)</th>
		        </tbody>
	    	</table>
		</div>
	</footer>

	<div class='document__postA__g'>
		{{#with G}}
		<table>
	    <tr>
	        <th class="th1" colspan="5">G. EVOLUCIÓN POSTANESTÉSICA</th>
	    </tr>
	    <tr>
	      <th class="th2">FECHA</th>
	      <th class="th2">HORA</th>
	      <th class="th2">EVOLUCIÓN</th>
	      <th class="th2">PRESCRIPCIÓN</th>
	      <th class="th2">ADMINISTRACIÓN FARMACOS</th>
	    </tr>
	    <tr>
	      <td class="td4j">{{fecha}}</td>
	      <td class="td4j">{{hora}}</td>
	      <td class="td4j">{{evolucion}}</td>
	      <td class="td4j">{{prescripcion}}</td>
	      <td class="td4j">{{administracion_farmacos}}</td>
	    </tr>
	    </table>
			{{/with}}
	</div>

	<div class='document__postA__h'>
		{{#with H}}
		<table>
	    <tr>
	      <th class="th1" colspan="13">H. CONDICION DE EGRESO</th>
	    </tr>
	    <tr>
	      <th class="th3">CONSTANTES VITALES DE ENTREGA</th>
	      <th>TA</th>
	      <td>{{ta}}</td>
	      <th>FC</th>
	      <td>{{fc}}</td>
	      <th>FR</th>
	      <td>{{fr}}</td>
	      <th>SAT. O2</th>
	      <td>{{sat_O2}}</td>
	      <th>T°</th>
	      <td colspan="3">{{t}}</td>
	    </tr>
	    <tr>
	      <th rowspan="3">EGRESO DE CUIDADOS POSTANESTÉSICOS</th>
	      <th colspan="3">ESCALA / INDICE </th>
	      <th colspan="2">PUNTAJE </th>
	      <th colspan="7"> RESPONSABLES </th>
	    </tr>
	    <tr>
	      <td colspan="3">ALDRETE MODIFICADO</td>
	      <td colspan="2">{{aldrete_modificado}}</td>
	      <th colspan="7">ENTREGA</th>
	    </tr>
	    <tr>
	      <td colspan="3">BROMAGE</td>
	      <td colspan="2">{{bromage}}</td>
	      <th>NOMBRE</th>
	      <td colspan="6">{{entrega.nombre}}</td>
	    </tr>
	    <tr>
	      <th rowspan="2">FECHA</th>
	      <td colspan="3">RAMSAY</td>
	      <td colspan="2">{{ramsay}}</td>
	      <th>FIRMA</th>
	      <td colspan="6">{{entrega.firma}}</td>
	    </tr>
	    <tr>
	      <td colspan="3">EVA</td>
	      <td colspan="2">{{eva}}</td>
	      <th colspan="7">RECIBE</th>
	    </tr>
	    <tr>
	      <th rowspan="2">HORA</th>
	      <td colspan="3">STEWARD</td>
	      <td colspan="2">{{steward}}</td>
	      <th>NOMBRE</th>
	      <td colspan="6">{{entrega.nombre}}</td>
	    </tr>
	    <tr>
	      <td colspan="3">OTRO:</td>
	      <td colspan="2">{{otro}}</td>
	      <th>FIRMA</th>
	      <td colspan="6">{{entrega.firma}}</td>
	    </tr>
	    <tr>
	      <th rowspan="2">CONDICIONES AL SALIR</th>
	      <td colspan="2">EXTUBADO</td>
	     	<td>{{#if condiciones_salida.extubado}}X{{/if}}</td>
	     	<th rowspan="2">CONDUCIDO A:</th>
	     	<td rowspan="2">HOSPITALIZACIÓN</td>
	     	<td rowspan="2">{{#if conducido.hospitalizacion}}X{{/if}}</td>
	     	<td rowspan="2">CRÍTICOS DE EMERGENCIA</td>
	     	<td rowspan="2">{{#if conducido.emergencia}}X{{/if}}</td>
	     	<td rowspan="2">DOMICILIO</td>
	     	<td rowspan="2">{{#if conducido.domicilio}}X{{/if}}</td>
	     	<td rowspan="2">MORGUE</td>
	     	<td rowspan="2">{{#if conducido.morgue}}X{{/if}}</td>
	    </tr>
	    <tr>
	      <td colspan="2">INTUBADO</td>
	      <td>{{#if condiciones_salida.intubado}}X{{/if}}</td>
	    </tr>
	    </table>
			{{/with}}
	</div>
	
	<div class='document__postA__i'>
		{{#with I}}
	  <table>
	    <tr>
	      <th class="th1" colspan="5">I. DATOS DEL PROFESIONAL RESPONSABLE</th>
	    </tr>
	    <tr>
	      <th class="th2">FECHA</th>
	      <th class="th2">HORA</th>
	      <th class="th2">PRIMER NOMBRE</th>
	      <th class="th2">PRIMER APELLIDO</th>
	      <th class="th2">SEGUNDO APELLIDO</th>
	    </tr>
	    <tr>
	      <td>{{fecha}}</td>
	      <td>{{hora}}</td>
	      <td>{{primer_nombre}}</td>
	      <td>{{primer_apellido}}</td>
	      <td>{{segundo_apellido}}</td>
	    </tr>
	    <tr>
	      <th colspan="2">NUMERO DE DOCUMENTO DE IDENTIFICACIÓN</th>
	      <th colspan="2">FIRMA</th>
	      <th>SELLO</th>
	    </tr>
	    <tr>
	      <td colspan="2">{{numero_identificacion}}</td>
	      <td colspan="2"><img src="{{firma}}"></td>
	      <td><img src="{{sello}}"></td>
	    </tr>
	    </table>
			{{/with}}
	</div>
</body>
</html>