<html>
  <head>
    <meta charset='UTF-8' />
    <style>
       @page {
        counter-reset: page 0;
      }
      body {
        background-color: white;
        color: black;
        font-size: 8px;
        font-family: arial;
        margin: 1px;
        padding: 1px;
      }
       main {
        padding-bottom: 30px;
      }
      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 20px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        background-color: white;
      }
      .page::after {
        content: counter(page);
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 1px;
        border: 2px solid black;
        table-layout: fixed;
      }

      .table2{
        table-layout:unset;
      }
      img {
        max-height: 100px;
        width: auto;
      }
          
      td {
        width: fit-content;
        white-space: nowrap;
        text-align: center;
        border: 1px solid black;
        height: 10px;

      }

      th {
        width: 100%;
        text-align: center;
        border: 1px solid black;
        height: 10px;
        font-weight: bold;
      }

      .th1 {
        text-align: left;
        font-size: 9px;
        background-color: #ccccff;

      }
      .th2 {
        background-color: #ccffcc;
      }

      .th3 {
        background-color: white;
      }
      .th4 {
        background-color: white;
        font-weight: normal;
        text-align: left;
      }

      .td1 {
        text-align: left;
      }

     .td4j {
        height: 90px;
        text-align: justify;
        vertical-align: top;
      }

      .document__ref,
      .document__ref__a,
      .document__ref__b,
      .document__ref__c,
      .document__ref__e,
      .document__ref__f,
      .document__ref__g,
      .document__selecion_ref,
      .document__contraRef,
      .document__contraRef__a,
      .document__contraRef__b,
      .document__contraRef__c,
      .document__contraRef__d,
      .document__contraRef__e,
      .document__contraRef__f,
      .document__contraRef__g,
      .document__contraRef__h {
        width: 100%;
        margin-top: 5px;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <header></header>
    <main>
      <div class='document__ref'>
        <div class='document__ref__a'>
          {{#with A_ref}}
            <table>
              <tr>
                <th class='th1' rowspan='1' colspan='16'>A. DATOS DEL
                  ESTABLECIMIENTO Y USUARIO/ PACIENTE</th>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='4'>INSTITUCIÓN DEL SISTEMA</th>
                <th class='th2' rowspan='1' colspan='2'>UNICÓDIGO</th>
                <th class='th2' rowspan='1' colspan='3'>ESTABLECIMIENTO DE SALUD</th>
                <th class='th2' rowspan='1' colspan='3'>NÚMERO DE HISTORIA
                  CLÍNICA</th>
                <th class='th2' rowspan='1' colspan='4'>NÚMERO DE ARCHIVO</th>
              </tr>
              <tr>
                <td rowspan='1' colspan='4'>{{institucion_sistema}}</td>
                <td rowspan='1' colspan='2'>{{unicodigo}}</td>
                <td rowspan='1' colspan='3'>{{establecimiento_salud}}</td>
                <td rowspan='1' colspan='3'>{{numero_historia_clinica}}</td>
                <td rowspan='1' colspan='4'>{{numero_archivo}}</td>
              </tr>
              <tr>
                <th class='th2' rowspan='2' colspan='2'>PRIMER APELLIDO</th>
                <th class='th2' rowspan='2' colspan='2'>SEGUNDO APELLIDO</th>
                <th class='th2' rowspan='2' colspan='2'>PRIMER NOMBRE</th>
                <th class='th2' rowspan='2' colspan='2'>SEGUNDO NOMBRE</th>
                <th class='th2' rowspan='2' colspan='1'>SEXO</th>
                <th class='th2' rowspan='2' colspan='2'>FECHA NACIMIENTO</th>
                <th class='th2' rowspan='2' colspan='1'>EDAD</th>
                <th class='th2' rowspan='1' colspan='4'>CONDICIÓN EDAD</th>
              </tr>

              <tr>
                <th class='th2' rowspan='1' colspan='1'>M</th>
                <th class='th2' rowspan='1' colspan='1'>D</th>
                <th class='th2' rowspan='1' colspan='1'>M</th>
                <th class='th2' rowspan='1' colspan='1'>A</th>
              </tr>

              <tr>
                <td rowspan='1' colspan='2'>{{primer_apellido}}</td>
                <td rowspan='1' colspan='2'>{{segundo_apellido}}</td>
                <td rowspan='1' colspan='2'>{{primer_nombre}}</td>
                <td rowspan='1' colspan='2'>{{segundo_nombre}}</td>
                <td rowspan='1' colspan='1'>{{sexo}}</td>
                <td rowspan='1' colspan='2'>{{fecha_nacimiento}}</td>
                <td rowspan='1' colspan='1'>{{edad}}</td>
                <td rowspan='1' colspan='1'>{{#if condicion_edad.m1}}
                    X
                  {{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if condicion_edad.d}}
                    X
                  {{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if condicion_edad.m2}}
                    X
                  {{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if condicion_edad.a}}
                    X
                  {{/if}}</td>
              </tr>

              <tr>
                <th class='th2' rowspan='1' colspan='8'>
                  No. TELÉFONO (CELULAR O CONVENCIONAL)</th>
                <th class='th3' rowspan='1' colspan='3'>REFERENCIA</th>
                <td rowspan='1' colspan='1'>{{#if referencia}} X {{/if}}</td>
                <th class='th3' rowspan='1' colspan='3'>DERIVACIÓN</th>
                <td rowspan='1' colspan='1'>{{#if derivacion}} X {{/if}}</td>
              </tr>
              <tr>
                <td rowspan='2' colspan='8'>{{telefono}}</td>
                <th rowspan='1' colspan='8'>MOTIVO</th>
              </tr>
              <tr>
                <th class='th4' rowspan='1' colspan='3'>1. Accesibilidad
                  geográfica.</th>
                <td rowspan='1' colspan='1'>{{#if
                    motivos.[0].seleccionado
                  }}X{{/if}}</td>
                <th class='th4' rowspan='1' colspan='3'>6. Problemas de
                  abastecimiento.</th>
                <td rowspan='1' colspan='1'>{{#if
                    motivos.[5].seleccionado
                  }}X{{/if}}</td>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='8'>LUGAR DE RESIDENCIA
                  ACTUAL</th>
                <th class='th4' rowspan='1' colspan='3'>2. Falta de espacio
                  físico.</th>
                <td rowspan='1' colspan='1'>{{#if
                    motivos.[1].seleccionado
                  }}X{{/if}}</td>
                <th class='th4' rowspan='1' colspan='3'>7.
                  Insuficie.seleccionadoncia de profesionales.</th>
                <td rowspan='1' colspan='1'>{{#if
                    motivos.[6].seleccionado
                  }}X{{/if}}</td>
              </tr>
              <tr>
                <th class='th3' rowspan='1' colspan='4'> PROVINCIA</th>
                <th class='th3' rowspan='1' colspan='2'> CANTÓN</th>
                <th class='th3' rowspan='1' colspan='2'> PARROQUIA</th>
                <th class='th4' rowspan='1' colspan='3'>3. Falta de
                  equipamiento.</th>
                <td rowspan='1' colspan='1'>{{#if motivos.[2].seleccionado}}
                    X
                  {{/if}}</td>
                <th class='th4' rowspan='1' colspan='3'>8. Inadecuada capacidad
                  resolutiva</th>
                <td rowspan='1' colspan='1'>{{#if motivos.[7].seleccionado}}
                    X
                  {{/if}}</td>
              </tr>

              <tr>
                <td rowspan='2' colspan='4'>{{residencia.provincia}}</td>
                <td rowspan='2' colspan='2'>{{residencia.canton}}</td>
                <td rowspan='2' colspan='2'>{{residencia.parroquia}}</td>
                <th class='th4' rowspan='1' colspan='3'>4. Equipos en mal
                  estado.</th>
                <td rowspan='1' colspan='1'>{{#if motivos.[3].seleccionado}}
                    X
                  {{/if}}</td>
                <th class='th4' rowspan='1' colspan='3'>9. Ausencia de la
                  prestación en la cartera de servicios</th>
                <td rowspan='1' colspan='1'>{{#if motivos.[8].seleccionado}}
                    X
                  {{/if}}</td>
              </tr>
              <tr>
                <th class='th4' rowspan='1' colspan='3'>5. Problemas de
                  infraestructura.</th>
                <td rowspan='1' colspan='1'>{{#if motivos.[4].seleccionado}}
                    X
                  {{/if}}</td>
                <td rowspan='1' colspan='3'></td>
                <td rowspan='1' colspan='1'></td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__ref__b'>
          {{#with B_ref}}
            <table>
              <tr>
                <th class='th1' rowspan='1' colspan='4'>B. DATOS DEL
                  ESTABLECIMIENTO AL QUE SE REFIERE - DERIVA</th>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>INSTITUCION DEL SISTEMA</th>
                <th class='th2' rowspan='1' colspan='1'>ESTABLECIMIENTO DE SALUD</th>
                <th class='th2' rowspan='1' colspan='1'>SERVICIO</th>
                <th class='th2' rowspan='1' colspan='1'>ESPECIALIDAD</th>
              </tr>
              <tr>
                <td rowspan='1' colspan='1'>{{institucion_sistema}}</td>
                <td rowspan='1' colspan='1'>{{establecimiento_salud}}</td>
                <td rowspan='1' colspan='1'>{{servicio}}</td>
                <td rowspan='1' colspan='1'>{{especialidad}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__ref__c'>
          {{#with C_ref}}
            <table>
              <tr>
                <th class='th1' rowspan='1' colspan='1'>C. RESUMEN DEL CUADRO
                  CLÍNICO</th>
              </tr>
              <tr>
                <td
                  class='td4j'
                  rowspan='1'
                  colspan='1'
                >{{resumen_clinico}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__ref__e'>
          {{#with E_ref}}
            <table>
              <tr>
                <th class='th1' rowspan='1' colspan='4'>E. DIAGNÓSTICO</th>
                <th class='th1' rowspan='1' colspan='1'>CIE</th>
                <th class='th1' rowspan='1' colspan='1'>PRE</th>
                <th class='th1' rowspan='1' colspan='1'>DEF</th>
                <th class='th1' rowspan='1' colspan='4'></th>
                <th class='th1' rowspan='1' colspan='1'>CIE</th>
                <th class='th1' rowspan='1' colspan='1'>PRE</th>
                <th class='th1' rowspan='1' colspan='1'>DEF</th>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>1.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[0].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[0].cie.seleccionado
                  }}{{diagnosticos.[0].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[0].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[0].def
                  }}X{{/if}}</td>
                <th class='th2' rowspan='1' colspan='1'>4.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[3].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[3].cie.seleccionado
                  }}{{diagnosticos.[3].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[3].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[3].def
                  }}X{{/if}}</td>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>2.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[1].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[1].cie.seleccionado
                  }}{{diagnosticos.[1].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[1].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[1].def
                  }}X{{/if}}</td>
                <th class='th2' rowspan='1' colspan='1'>5.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[4].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[4].cie.seleccionado
                  }}{{diagnosticos.[4].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[4].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[4].def
                  }}X{{/if}}</td>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>3.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[2].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[2].cie.seleccionado
                  }}{{diagnosticos.[2].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[2].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[2].def
                  }}X{{/if}}</td>
                <th class='th2' rowspan='1' colspan='1'>6.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[5].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[5].cie.seleccionado
                  }}{{diagnosticos.[5].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[5].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[5].def
                  }}X{{/if}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__ref__f'>
          {{#with F_ref}}
            <table>
              <tr>
                <th class='th1' rowspan='1' colspan='5'>F. DATOS DEL PROFESIONAL
                  RESPONSABLE</th>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>FECHA</th>
                <th class='th2' rowspan='1' colspan='1'>HORA</th>
                <th class='th2' rowspan='1' colspan='1'>PRIMER NOMBRE</th>
                <th class='th2' rowspan='1' colspan='1'>PRIMER APELLIDO</th>
                <th class='th2' rowspan='1' colspan='1'>SEGUNDO APELLIDO</th>
              </tr>
              <tr>
                <td>{{fecha}}</td>
                <td>{{hora}}</td>
                <td>{{primer_nombre_med}}</td>
                <td>{{primer_apellido_med}}</td>
                <td>{{segundo_apellido_med}}</td>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='2'>NÚMERO DE DOCUMENTO DE
                  IDENTIFICACIÓN</th>
                <th class='th2' rowspan='1' colspan='2'>FIRMA</th>
                <th class='th2' rowspan='1' colspan='1'>SELLO</th>
              </tr>
              <tr>
                <td
                  rowspan='1'
                  colspan='2'
                >{{documento_identificacion_med}}</td>
                <td rowspan='1' colspan='2'>
                  <img src='{{firma_med}}' /></td>
                <td rowspan='1' colspan='1'>
                  <img src='{{sello_med}}' /></td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__ref__g'>
          {{#with G_ref}}
            <table>
              <tr>
                <th class='th1' colspan='10'>G. EVALUACIÓN DE LA REFERENCIA /
                  DERIVACIÓN</th>
              </tr>
              <tr>
                <th class='th2' colspan='1'>REFERENCIA JUSTIFICADA</th>
                <th class='th2_w' colspan='1'>SI</th>
                <td colspan='1'>{{#if referencia}}X{{/if}}</td>
                <th class='th2_w' colspan='1'>NO</th>
                <td colspan='1'>{{#unless referencia}}X{{/unless}}</td>

                <th class='th2' colspan='1'>DERIVACIÓN JUSTIFICADA</th>
                <th class='th2_w' colspan='1'>SI</th>
                <td colspan='1'>{{#if derivacion}}X{{/if}}</td>
                <th class='th2_w' colspan='1'>NO</th>
                <td colspan='1'>{{#unless derivacion}}X{{/unless}}</td>
              </tr>
            </table>
          {{/with}}
        </div>
      </div>

      <div class='document__selecion_ref'>
        {{#with seleccion_ref}}
          <table border='0'>
            <tr>
              <th class='th2_w' rowspan='1' colspan='1'>CONTRAREFERENCIA</th>
              <td rowspan='1' colspan='1'>{{#if contrareferencia}}X{{/if}}</td>
              <th class='th2_w' rowspan='1' colspan='1'>REFERENCIA INVERSA</th>
              <td rowspan='1' colspan='1'>{{#if
                  referencia_inversa
                }}X{{/if}}</td>
            </tr>
          </table>
        {{/with}}
      </div>

      <div class='document__contraRef'>
        <div class='document__contraRef__a'>
          {{#with A_contref}}
            <table>
              <tr>
                <th class='th1' rowspan='1' colspan='6'>A. DATOS DEL
                  ESTABLECIMIENTO QUE CONTRAREFIERE O REALIZA LA REFERENCIA
                  INVERSA</th>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>INSTITUCIÓN DEL SISTEMA</th>
                <th class='th2' rowspan='1' colspan='1'>UNICÓDIGO</th>
                <th class='th2' rowspan='1' colspan='1'>ESTABLECIMIENTO DE SALUD</th>
                <th class='th2' rowspan='1' colspan='1'>TIPOLOGIA</th>
                <th class='th2' rowspan='1' colspan='1'>NUMERO DE HISTORIA
                  CLÍNICA</th>
                <th class='th2' rowspan='1' colspan='1'>NUMERO DE ARCHIVO</th>
              </tr>
              <tr>
                <td rowspan='1' colspan='1'>{{institucion_sistema}}</td>
                <td rowspan='1' colspan='1'>{{unicodigo}}</td>
                <td rowspan='1' colspan='1'>{{establecimiento_salud}}</td>
                <td rowspan='1' colspan='1'>{{tipologia}}</td>
                <td rowspan='1' colspan='1'>{{numero_historia_clinica}}</td>
                <td rowspan='1' colspan='1'>{{numero_archivo}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__contraRef__b'>
          {{#with B_contref}}
            <table>
              <tr>
                <th class='th1' rowspan='1' colspan='4'>B. DATOS DEL
                  ESTABLECIMIENTO AL CUAL SE CONTRAREFIERE O SE REALIZA
                  REFERENCIA INVERSA</th>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>INSTITUCIÓN DEL SISTEMA</th>
                <th class='th2' rowspan='1' colspan='1'>ESTABLECIMIENTO DE SALUD</th>
                <th class='th2' rowspan='1' colspan='1'>DISTRITO</th>
                <th class='th2' rowspan='1' colspan='1'>FECHA</th>
              </tr>
              <tr>
                <td rowspan='1' colspan='1'>{{institucion_sistema}}</td>
                <td rowspan='1' colspan='1'>{{establecimiento_salud}}</td>
                <td rowspan='1' colspan='1'>{{distrito}}</td>
                <td rowspan='1' colspan='1'>{{fecha}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__contraRef__c'>
          {{#with C_contref}}
            <table
              class='table table-bordered'
              cellpadding='1px'
              cellspacing='0px'
              style='font-size: 8px;font-family: arial;margin-bottom: 0px;width: 100%;border-style: solid; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px;width: 100%'
            >
              <tr>
                <th class='th1' rowspan='1' colspan='1'>C. RESUMEN DEL CUADRO
                  CLÍNICO</th>
              </tr>
              <tr>
                <td
                  class='td4j'
                  rowspan='1'
                  colspan='1'
                >{{resumen_clinico}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__contraRef__d'>
          {{#with D_contref}}
            <table
              class='table table-bordered'
              cellpadding='1px'
              cellspacing='0px'
              style='font-size: 8px;font-family: arial;margin-bottom: 0px;width: 100%;border-style: solid; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px;width: 100%'
            >
              <tr>
                <th class='th1' rowspan='1' colspan='1'>D. HALLAZGOS CLÍNICOS Y
                  EXAMENES AUXILIARES</th>
              </tr>
              <tr>
                <td class='td4j' rowspan='1' colspan='1'>{{hallazgos}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__contraRef__e'>
          {{#with E_contref}}
            <table
              class='tabl'
            >
              <tr>
                <th class='th1' rowspan='1' colspan='1'>E. TRATAMIENTOS Y
                  PROCEDIMIENTOS TERAPÉUTICOS REALIZADOS</th>
              </tr>
              <tr>
                <td class='td4j' rowspan='1' colspan='1'>{{tratamientos}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__contraRef__f'>
          {{#with F_contref}}
            <table>
              <tr>
                <th class='th1' rowspan='1' colspan='4'>F. DIAGNÓSTICO</th>
                <th class='th1' rowspan='1' colspan='1'>CIE</th>
                <th class='th1' rowspan='1' colspan='1'>PRE</th>
                <th class='th1' rowspan='1' colspan='1'>DEF</th>
                <th class='th1' rowspan='1' colspan='4'></th>
                <th class='th1' rowspan='1' colspan='1'>CIE</th>
                <th class='th1' rowspan='1' colspan='1'>PRE</th>
                <th class='th1' rowspan='1' colspan='1'>DEF</th>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>1.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[0].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[0].cie.seleccionado
                  }}{{diagnosticos.[0].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[0].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[0].def
                  }}X{{/if}}</td>
                <th class='th2' rowspan='1' colspan='1'>4.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[3].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[3].cie.seleccionado
                  }}{{diagnosticos.[3].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[3].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[3].def
                  }}X{{/if}}</td>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>2.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[1].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[1].cie.seleccionado
                  }}{{diagnosticos.[1].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[1].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[1].def
                  }}X{{/if}}</td>
                <th class='th2' rowspan='1' colspan='1'>5.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[4].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[4].cie.seleccionado
                  }}{{diagnosticos.[4].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[4].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[4].def
                  }}X{{/if}}</td>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>3.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[2].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[2].cie.seleccionado
                  }}{{diagnosticos.[2].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[2].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[2].def
                  }}X{{/if}}</td>
                <th class='th2' rowspan='1' colspan='1'>6.</th>
                <td
                  rowspan='1'
                  colspan='3'
                >{{diagnosticos.[5].descripcion}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[5].cie.seleccionado
                  }}{{diagnosticos.[5].cie.codigo}}{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[5].pre
                  }}X{{/if}}</td>
                <td rowspan='1' colspan='1'>{{#if
                    diagnosticos.[5].def
                  }}X{{/if}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__contraRef__g'>
          {{#with G_contref}}
            <table
              class='table table-bordered'
              cellpadding='1px'
              cellspacing='0px'
              style='font-size: 8px;font-family: arial;margin-bottom: 0px;width: 100%;border-style: solid; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px;width: 100%'
            >
              <tr>
                <th class='th1' rowspan='1' colspan='1'>G. TRATAMIENTO
                  RECOMENDADO A SEGUIR EN ESTABLECIMIENTO DE SALUD AL QUE SE
                  CONTRAREFIERE</th>
              </tr>
              <tr>
                <td
                  class='td4j'
                  rowspan='1'
                  colspan='1'
                >{{tratamiento_recomendado}}</td>
              </tr>
            </table>
          {{/with}}
        </div>

        <div class='document__contraRef__h'>
          {{#with H_contref}}
            <table>
              <tr>
                <th class='th1' rowspan='1' colspan='5'>H. DATOS DEL PROFESIONAL
                  RESPONSABLE</th>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='1'>FECHA</th>
                <th class='th2' rowspan='1' colspan='1'>HORA</th>
                <th class='th2' rowspan='1' colspan='1'>PRIMER NOMBRE</th>
                <th class='th2' rowspan='1' colspan='1'>PRIMER APELLIDO</th>
                <th class='th2' rowspan='1' colspan='1'>SEGUNDO APELLIDO</th>
              </tr>
              <tr>
                <td>{{fecha}}</td>
                <td>{{hora}}</td>
                <td>{{primer_nombre_med}}</td>
                <td>{{primer_apellido_med}}</td>
                <td>{{segundo_apellido_med}}</td>
              </tr>
              <tr>
                <th class='th2' rowspan='1' colspan='2'>NÚMERO DE DOCUMENTO DE
                  IDENTIFICACIÓN</th>
                <th class='th2' rowspan='1' colspan='2'>FIRMA</th>
                <th class='th2' rowspan='1' colspan='1'>SELLO</th>
              </tr>
              <tr>
                <td
                  rowspan='1'
                  colspan='2'
                >{{documento_identificacion_med}}</td>
                <td rowspan='1' colspan='2'><img src='{{firma_med}}' /></td>
                <td rowspan='1' colspan='1'><img src='{{sello_med}}' /></td>
              </tr>
            </table>
          {{/with}}
        </div>
      </div>
    </main>
    <footer>
      <p>SNS-MSP / HCU-form.053 / 2021</p>
      <p>REFERENCIA - DERIVACIÓN - CONTRAREFERENCIA - REFERENCIA INVERSA</p>
      <p> Pagina <span class='page'></span></p>
    </footer>
  </body>
</html>